<div class="user-actions">
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'Создать статью', new_admin_post_path, class: 'btn btn-outline-primary' %>
        <% end %>
        <%= link_to 'Профиль', edit_user_registration_path, class: 'btn btn-outline-primary' %>
    <% end %>
</div>