<%= render 'shared/breadcrumb', category: @category %>

<h1><%= @category.name %></h1>

<section id="posts">
    <% if @posts.empty? %>
        <br>
        <div class="alert alert-warning">Статей нет</div>
    <% else %>
        <%= render @posts %>
    <% end %>
</section>

<%= will_paginate @posts, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>